.main-layout{
    position: relative;
}

.dashboard-main-section{
    display: flexbox;
}

.sm-block{
    width: 2.2rem;
    height: 2.2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0.2rem;
    overflow: hidden;
}

.animated-hover{
    cursor: pointer;
    transition: 0.3s;
}

.animated-hover:hover{
    background-color: var(--muted-extra-light) !important;
    transform: scale(1.1);
    color: var(--black) !important;
}

.animated-hover:hover > div {
    color: var(--muted) !important;
}

.profile-image-sm{
    width: 2.2rem;
    height:2.2rem;
    box-sizing: border-box;
    background-color: var(--white);
    overflow: hidden;
    border-radius:2.2rem;
    cursor: pointer;
 }

 .profile-details-holder{
    width: 20rem;
 }

 .card-custom{
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--white);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    overflow: hidden;
 }

 .card-title-custom{
    color: var(--info-dark);
    font-size: 0.975rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    font-weight: 800;
 }

 .icon-holder-sm{
   width: 2.2rem;
   height: 2.2rem;
   border-radius: 2.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .icon-holder-md{
   padding-left: 0.8rem;
   padding-right: 0.8rem;
   height: 2.6rem;
   border-radius: 2.6rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .icon-holder-white{
   background-color: var(--white);
   color: var(--black) !important;
 }

 .icon-holder-info{
   background-color: var(--info-light);
   color: var(--info) !important;
 }

 .icon-holder-warning{
   background-color: var(--warning-light);
   color: var(--warning) !important;
 }

 .icon-holder-success{
   background-color: var(--success-light);
   color: var(--success-dark) !important;
 }

 .icon-holder-danger{
    background-color: var(--danger-light);
    color: var(--danger) !important;
 }

 .icon-holder-dark{
    background-color: var(--muted-light);
    color: var(--black) !important;
 }

 .icon-holder-ingigo{
    background-color: var(--indigo);
    color: var(--white) !important;
 }

 .block-custom{
    display: block;
 }

 .card-body-sm{
    padding: 0.6rem;
 }

 .cursor-pointer{
    cursor: pointer;
 }