.badge-custom{
    align-self: flex-start;
    border-radius: 3rem;
    padding: 0 0.5rem;
}

.badge-success{
    background-color: var(--success-dark);
}

.badge-success > span {
    color: var(--white);
}