@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
   font-family: 'Inter', sans-serif !important;
   font-size: .876rem !important;
   color: var(--info-dark) !important;
   background-color: var(--dashboard-menu) !important;
}

::-webkit-scrollbar {
   display: none !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
   margin-top: .35rem !important;
   margin-bottom: .35rem !important;
   font-weight: 600 !important;
   line-height: 1.2 !important;
}

.page-wrapper {
   background-color: var(--white) !important;
}

.bg-white-custom{
   background-color: var(--white) !important;
}

.bg-black-custom{
   background-color: var(--black) !important;
}

.bg-dark-custom{
   background-color: var(--info-dark) !important;
} 

.bg-info-custom{
   background-color: var(--info) !important;
}

.bg-info-dark-custom{
   background-color: var(--info-dark) !important;
}

.bg-info-light-custom{
   background-color: var(--info-light) !important;
}

.bg-success-custom{
   background-color: var(--success-light) !important;
}

.bg-success-custom > span{
   color: var(--success-dark);
}

.bg-warning-custom{
   background-color: var(--warning) !important;
}

.bg-muted-custom{
   background-color: var(--muted-extra-light) !important;
}

.bg-muted-dark-custom{
   background-color: var(--muted) !important;
   color: var(--white) !important;
}

.bg-indigo-custom{
   background-color: var(--indigo) !important;
   color: var(--white) !important;
}

.text-success-custom{
   color: var(--success-dark);
}

.text-white-custom{
   color: var(--white);
}

.text-danger-custom{
   color: var(--danger-dark);
}

.text-dark-custom{
   color: var(--black);
}

.text-info-custom{
   color: var(--info-dark-light);
}

.text-info-light-custom{
   color: var(--info);
}

.text-muted-custom{
   color: var(--muted);
}

.text-muted-light-custom{
   color: var(--muted-light);
}

.muted-light-dark-text{
   color: var(--muted-light-dark-text);
}

.text-x-x-sm-custom{
   font-size: .678rem;
}

.text-x-sm-custom{
   font-size: .775rem;
}

.text-sm-custom{
   font-size: .875rem;
}

.text-md-custom{
   font-size: 1.1rem;
}

.text-lg-custom{
   font-size: 1.6rem;
}

.bg-white-custom{
   background-color: var(--white) !important;
}

.card-image-custom-holder{
   width: 100%;
   height: 20rem;
   overflow: hidden;
   background-color: var(--white);
}

.card-image-custom-holder > img{
   width: 100%;
}

.card{
   overflow: hidden;
   border-radius: 0.0 !important;
   border: none !important;
}

.footer {
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
 }
 
 .bd-lead {
   font-size: calc(1rem + .3vw);
   font-weight: 400;
}

.how-it-works:before {
   content: '';
   position: absolute;
   left: 4px;
   top: 10px;
   width: 8px;
   height: 8px;
   background: #7731FF;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   z-index: 2;
}

a{
   text-decoration: none !important;
}

.form-input-holder{
   /* margin-top: 0.5rem;  */
   margin-bottom: 1rem;
   overflow: hidden;
}

.form-input-header{
   display: block;
   padding: .175rem 0rem;
   line-height: 1.2rem;
   margin-bottom: 0.2rem;
}

.form-control-custom{
   display: block;
   width: 100%;
   padding: .375rem .75rem;
   color: var(--info-dark);
   -webkit-appearance: none;
   appearance: none;
   border: none;
   outline: none;
   background-color: var(--white);
   height: 3rem;
   border-radius: 0.33rem;
   border: 0.15rem solid var(--muted-light);
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-custom-sm{
   display: block;
   width: 100%;
   padding: .375rem .75rem;
   color: var(--info-dark);
   -webkit-appearance: none;
   appearance: none;
   border: none;
   outline: none;
   background-color: var(--white);
   height: 2.5rem;
   border: 0.1rem solid var(--info-dark);
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-textarea-custom{
   display: block;
   width: 100%;
   padding: .375rem .75rem;
   color: var(--info-dark);
   -webkit-appearance: none;
   appearance: none;
   border: none;
   outline: none;
   background-color: var(--white);
   height: auto;
   min-height: 10rem;
   border: 0.1rem solid var(--info-dark);
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-textarea{
   display: block;
   width: 100%;
   padding: .375rem .75rem;
   color: var(--info-dark);
   -webkit-appearance: none;
   appearance: none;
   border: none;
   outline: none;
   background-color: var(--white);
   height: auto;
   min-height: 10rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   border-radius: 0.33rem;
   border: 0.15rem solid var(--muted-light);
}

::placeholder { 
   color: var(--muted);
   opacity: 1; 
 }

 .form-button-holder{
   display: flex;
   width: 100%;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

.header-holder{
   display: block;
   padding: 0 0 0.5rem;
   margin-bottom: 1rem;
}

.header-title-custom {
   color: var(--info-dark);
   font-weight: 700;
   font-size: 2.1rem;
}

.img-full-width{
   width: 100%;
   height: 100%;
}

.border-bottom-light{
   border-bottom: 0.1em solid var(--muted-light);
}

.fw-bold-custom {
   font-weight: 800!important;
}

.fw-medium-custom {
   font-weight: 600!important;
}

.selection-muted{
   background-color: var(--muted-light);
   padding: 0.6rem 1rem;
   border-radius: 5rem;
   cursor: pointer;
}

.selection-muted > span {
   color: var(--black);
}

.selection-selected{
   background-color: var(--info);
   padding: 0.6rem 1rem;
   border-radius: 5rem;
   cursor: pointer;
}

.selection-selected > span {
   color: var(--white);
}

.loading-block-sm{
   width: 4rem;
   height: 4rem;
   background-color: var(--white);
   border-radius: 0.6rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loading-image-sm{
   width: 2rem;
   height: 2rem;
}

.profile-static-card{
   height: 18rem;
}

.profile-image-upload-holder{
   width: 150px;
   height: 150px;
   border: 0.2rem solid var(--muted-light);
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.profile-image-upload-holder-image{
   max-width: 100%;
   height: auto;
}

.left-menu-nav-wrapper a{
   color: var(--muted);
}

.p-wrap{
   white-space: pre-line;
}