.left-menu-wrapper {
    background-color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.left-menu-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .left-menu-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.left-menu-nav-wrapper{
    display: block;
}

.left-menu-nav-link{
    width: 2.3rem;
    height: 2.3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--muted-extra-light);
}

.left-menu-nav-link:hover{
    background-color: var(--muted-light);
    transform: scale(1.1);
}

 
    